# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xyufapuftaucdkescfig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5dWZhcHVmdGF1Y2RrZXNjZmlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MjUzOTYsImV4cCI6MjA5NTIwMTM5Nn0.ambHIYQktt2GokOYhlr_UgQJV7g_FkialYXy8B-32jw
